:root {
  --chart-border-width: 0.02;
  --chart-divider-width: 0.002;
  --color-hue-primary: 190;
  --color-foreground: hsl(0, 0%, 30%);
  --color-background: hsl(0, 0%, 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
