:root {
  --chart-border-width: 0.02;
  --chart-divider-width: 0.002;
  --color-hue: 210;
  --color-foreground: hsl(0, 0%, 100%);
  --color-foreground-hue: hsl(210, 100%, 40%);
  
  --color-text: hsl(0, 0%, 86%);
  --color-text-2: hsl(0, 0%, 100%, 0.3);
  --color-text-3: hsla(0, 0%, 100%, 0.05);
  --color-background-hue: hsl(210, 100%, 7%);
  --color-background-4: hsl(0, 0%, 5%);
  --color-background-3: hsl(0, 0%, 5%);
  --color-background-2: hsl(0, 0%, 5%);
  --color-background: hsl(0, 0%, 5%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Chart__wrapper {
  width: 100vw;
  height: 100vw;
  max-height: 90vh;
}

.page {
  height: 100dvh;
  height: 100vh;
}

.page > * {
  padding: 0 10px
}