:root {
  --chart-border-width: 0.02;
  --chart-divider-width: 0.002;
  --color-hue: 210;
  
  --color-text: var(--c-yellow-light);
  --color-text-2: var(--c-yellow-light);
  --color-text-3: hsla(0, 0%, 100%, 0.1);
  --color-background-4: var(--c-purple-dark);
  --color-background: var(--c-purple-dark);

  --c-purple-dark: #232226;
  --c-purple-mid: #333237;
  --c-purple-light: #47464D;
  --c-yellow-dark: #666561;
  --c-yellow-mid: #E8CA28;
  --c-yellow-light: #D1D0C6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none;
}

.Chart__wrapper {
  width: 100vw;
  height: 100vw;
  max-height: 90vh;
}

.page {
  height: 100vh;
  height: 100dvh;
}

.page > * {
  padding: 0 10px
}

p, text {
  font-family: sofia-pro,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
}
